table {
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

caption {
    letter-spacing: 18px;
    font-size: 4em;
    color: gold;
    margin: 0;
    text-align: center;
    text-shadow: .05em .01em black;
    font-family: 'Kanit', sans-serif;
    text-decoration: underline;
    margin-bottom: 5%;
}

img {
    margin-left: 13%;
    width: 300px;
    height: auto;
    box-shadow: 10px 10px black;
    background-color: white;
    border-radius: 10%;
}

td {
    width: 400px;
    height: 400px;
}

td p {
    font-size: 1.5em;
    text-align: center;
}