@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
ul#navbar+h1 {
    letter-spacing: 18px;
    font-size: 4em;
    color: white;
    margin-left: 14%;
    text-shadow: .05em .01em black;
    font-family: 'Kanit', sans-serif;
    animation-name: "proflie";
}

img#thisIsMyPicture {
    margin-left: 13.5%;
    margin-top: 50px;
    float: left;
    width: 20em;
    height: 20em;
    border-radius: 100%;
    object-fit: cover;
    border: solid black 5px;
}

#myName {
    color: gold;
    margin-top: 100px;
    font-size: 6em;
    padding-left: 48%;
    line-height: 1.25em;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-family: 'Anton', sans-serif;
    background-color: rgba(128, 128, 128, 0.6);
    text-shadow: 5px 5px black;
}

#myProfile {
    margin-left: 17%;
    clear: both;
    float: left;
    font-size: 1.25em;
    width: 280px;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 5px 25px;
    border-radius: 20px;
}

#contact {
    margin-left: 15%;
    float: left;
    width: 400px;
    background-color: rgba(128, 128, 128, 0.8);
    padding: 5px 25px;
    border-radius: 20px;
    margin-bottom: 5%;
}

#contact>p {
    text-align: center;
    font-size: 1.25em;
}